.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.list li {
  font-size: 26px;
}

.list a {
  color: black;
}
